@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');


*, *::before, *::after {
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family:  "Inter", sans-serif;
  background-color: #FAFAFA;
}

img {
  max-width: 100%;
} 

a {
  text-decoration: none;
  color: inherit;

}

a:visited {
  color: inherit;
}


h3 {
  margin: 0;
}

 .hero{
  height: 100vh;
  background: #654ea3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #eaafc8, #654ea3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #eaafc8, #654ea3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 }

 .hero-container {
  height: 100%;
  margin: 0 auto;
  max-width: 1200px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
}

.hero-text{
  text-align: center;
  font-size: 1rem;
  margin-bottom: 1rem;
  color: #0e1111;
}

.accent{
  color: #33006F;
}

.hero-button{
  text-align: center;
  padding: .75rem;
  font-weight: 600;
  border: 2px solid #000;
  cursor: pointer;
  transition: 0.3s;
  width: fit-content;
}

.hero-button:hover,
.hero-button:focus{
  border: 2px solid #800080;
  color: #800080;
}

.main-wrapper{
  width: 100%;
  padding: 1rem;
}
.main-header{
  text-align: center;
}

.main-container{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.card-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1rem;
  
}


.card-title-link {
  margin-right: .5rem;
  color: inherit;
}

.card-title-link:hover,
.card-title-link:focus{
  color: #eaafc8;

  text-decoration: underline;
}

.card-title .fa-github:hover,
.card-title .fa-github:focus{
  color: #eaafc8;

}

.card{
  background: #fff;
  border: 2px solid rgb(213, 223, 223);
  border-radius: .5rem;
  overflow: hidden; 
}

.card-image-container{
  overflow: hidden;
  display: flex;
}

.card-image-container img {
  transition: transform 1s ease; 
  
}

.card-image-container:hover img,
.card-image-container:focus img{
  transform: scale(1.1);
}


.footer{
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .75rem;
}

.footer-name{
  font-weight: bold;
}

.social-links{
    font-size: 1.25rem;
    margin-right: 0.5rem;
    text-decoration: none;
    transition: all 0.3s linear;
}

.social-links:hover i,
.social-links:focus i{
  transform: scale(1.1);
}



@media (min-width: 500px) {
  .hero-text{
    font-size: 1.25rem;
  }
  .card{
    width: calc(50% - .5rem);
  }

}

@media (min-width: 1040px) {
  .hero-text{
    font-size: 1.5rem;
  }
  .card{
    width: calc(33% - .5rem);
  }

  .footer{
    padding: 1.25rem 1.75rem;
  }


}