@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

:root {
  --lightRed: hsl(0, 100%, 67%);
  --orangeyYellow: hsl(39, 100%, 56%);
  --greenTeal: hsl(166, 100%, 37%);
  --cobaltBlue: hsl(234, 85%, 45%);
  

  --white: hsl(0, 0%, 100%);
  --paleBlue: hsl(221, 100%, 96%);
  --lightLavender: hsl(241, 100%, 89%);
  --darkGrayBlue: hsl(224, 30%, 27%);

  /* Gradients */
  /* Background */
  --lightSlateBlue: hsl(252, 100%, 67%);
  --lightRoyalBlue: hsl(241, 81%, 54%);
  /* Circle */
  --violetBlue: hsla(256, 72%, 46%, 1);
  --persianBlue: hsla(241, 72%, 46%, 0);

  --font-family-body: 'Hanken Grotesk', sans-serif;
  --font-size-body: 18px;

}

* {
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  margin: 0;
  font-family: var(--font-family-body);
  font-size: var(--font-family-size);
}

h1,
h2,
h3{
  margin: 0;
  padding: 0;
}


.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container{
  width: 80%;
  max-width: 1400px;
  position: relative;
  border-radius: 8px;
  margin-bottom: 2rem;
  padding: 1.5rem;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card{
  border: 1px solid red;
  /* display: flex; */
}


.result{
  color: var(--lightLavender);
  width: 100%;
  background: linear-gradient(
    to bottom,
    var(--lightSlateBlue), 
    var(--lightRoyalBlue) 
  );
  padding: 1rem 2rem;
  text-align: center;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem; 
}


.percentage{
  border-radius: 50%;
  width: 9em;
  height: 9em;
  background: linear-gradient(
    to bottom,
    var(--violetBlue), 
    var(--persianBlue) 
  );
  padding: 1.5rem;
  margin: 1rem auto;
}

.percentage h1 {
  font-size: 2.75rem;
  color: var(--white);
}

.result-text h2 {
  color: var(--white);
}
