@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');


:root{
  --yellow: hsl(75, 94%, 57%);

  --White: hsl(0, 0%, 100%);
  --Grey: hsl(0, 0%, 20%);
  --darkGrey: hsl(0, 0%, 12%);
  --offBlack: hsl(0, 0%, 8%);
  --font-size-body: 14px;

  --font-family-body: "Inter", sans-serif;
}

a{
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2{
  margin: 0;
  padding: 0;
}