@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@600;800&display=swap');

:root {
  --yellow: hsl(47, 88%, 63%);
  --white: hsl(0, 0%, 100%);
  --grey: hsl(0, 0%, 50%);
  --black: hsl(0, 0%, 7%);
  --font-size-body: 16px;
  --font-family-body: "Figtree", sans-serif;
}

a{
  text-decoration: none;
}

a:hover,
a:focus{
  opacity: .7;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--yellow);
  font-family: var(--font-family-body);
  color: var(--black);
  font-size: var(--font-size-body)
}

img {
  max-width: 100%;
  border-radius: 8px;
}

.hero-image{
  width: 100%;
  margin-bottom: 2rem;
}

.container{
  background-color: var(--white);
  width: 80%;
  max-width: 500px;
  position: relative;
  margin: 2rem auto;
  border-radius: 12px;
  border: 2px solid var(--black);
  box-shadow: 10px 10px var(--black);
}

.card{
  padding: 2rem;
}

.btn{
  background-color: var(--yellow);
  color: var(--black);
  font-weight: 800;
  padding: .5rem 1.5rem;
  border-radius: 8px;
}

.btn:hover,
.btn:focus{
  opacity: .85;
}

.main-title{
  color: var(--black)
}

.main-title:hover,
.main-title:focus{
  color: var(--yellow);
}

.main-content p {
  color: var(--grey);
}

.profile-info{
  margin: 1rem 0;
  display: flex;
  align-items: center;
}

.profile-img{
  margin-right: 1rem;
}


.footer{
  width: 80%;
  max-width: 500px;
  position: relative;
  margin: 2rem auto;
  border-radius: 12px;
}